<h1>Hello world from hello!</h1>

<%target = "world"%>
<%= "Hello #{target}"  %>
<br>
<% @array.each do |n| %>
  <%= n  %> <br>
<% end %>


<%= link_to('Index page', {:action => 'index'})  %>

<br>

ID: <%= @id %><br>
ID: <%= params[:id]  %><br>
page: <%= @page %><br>
page: <%= params[:page]  %><br>
Next page: <%= params[:page].to_i + 1 %>
